@CHARSET "UTF-8";

/* General */
body {
	font-family: Ubuntu, sans-serif;
	color: #555555;
	font-size: 10pt;
	/* background: #F6F6EC; */
}

h2 { /*	font-family: 'Clicker Script', cursive; */
	font-family: 'Ubuntu';
	color: #666;
}

.modal-header h2 {
	font-size: 24px;
}

.functionalAreaHeader h2 { /* font-family: 'Satisfy', cursive; */
	color: #fff;
	/*text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.2);*/
	padding-left: 10px;
}

.functionalAreaHeader i {
	vertical-align: middle;
}

input[type="text"],input[type="password"],.input-append input[type="password"]
	{
	height: 20px;
	font-size: 12px;
}

/* Begin Popup Stuff */
.modal-header {
	background: #eee url("../img/gradient_light_grey.png") repeat-x bottom;
	border: #eee 1px solid;
	border-top-right-radius: 6px;
	border-top-left-radius: 6px;
}

.modal-body {
	max-height: 500px;
}

.soPopupContent {
	text-align: left;
}

/* End Popup Stuff */
#logo {
	background: url("../img/logo_2.png") no-repeat top left;
	height: 80px;
}

/* Begin Preloader */
.preloader {
	display: none;
	color: #888;
}

.preloader-large {
	width: 100%;
	background: url("../img/preloader_28x28.gif") no-repeat bottom center;
	height: 50px;
}

.preloader-small {
	width: 15px;
	background: url("../img/preloader_14x14.gif") no-repeat bottom center;
	height: 15px;
	margin: 4px -40px;
}
/* End Preloader */

/* Begin header backgrounds */
.yellowBg {
	background: url("../img/heading_bg_helper_next_date.gif");
}

.blueBg {
	background: url("../img/blauer_bg.png");
}

.redBg {
	background: url("../img/roter_bg.png");
}

.greenBg {
	background: url("../img/gruener_bg.png");
}
/* End header backgrounds */

/* Begin Areas */
.functionalArea { /*background-color: #f9f9f9;*/
	border-bottom: solid 1px #999;
	border-left: solid 1px #999;
	border-right: solid 1px #999;
	padding: 20px 10px 10px 10px;
	margin-bottom: 10px;
	background: #F6F6EC url("../img/fa-bg.png") no-repeat top center;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	/*border-bottom: solid 2px #333;*/
}

.infoArea {
	background: #F6F6EC url("../img/info.png") no-repeat top 10px left 10px;
	padding: 5px 5px 0px 40px;
	margin-bottom: 5px;
	min-height: 40px;
}

.infoArea hr {
	margin: 10px 0;
}

.infoArea p {
	/*display: none;*/
}
/* End Areas */

/* Login specific */
#login_wrapper {
	text-align: left;
	width: 700px;
	margin: 100px auto;
	padding: 20px;
}

#login_banner {
	background: url("../img/logo_2.png") no-repeat top right;
	width: 260px;
	height: 150px;
	float: left;
	margin-right: 30px;
}

/* Tables */
.loaderText {
	margin: 15px;
	font-size: 9px;
	vertical-align: top;
	float: right;
}

.highlight {
	background: #f1f1f1;
}

.kidButtons {
	vertical-align: middle;
	padding-top: 7px;
}

.plainwhite {
	color: #fff;
	text-decoration: none;
	cursor: hand;
	cursor: pointer;
}