@CHARSET "UTF-8";

/* General */

body{
	font-family: Ubuntu, sans-serif;
	color: #888;
	font-size:10pt;
}

h1{
	color: #B2B2B2;
	font-size: 18pt;
	margin: 0 0 20px 0;
	padding: 0;
}

h2{
	color: #B2B2B2;
	font-size: 14pt;
	margin: 0 0 20px 0;
	padding: 0;
}

h3{
	color: #B2B2B2;
	font-size: 11pt;
	margin: 0 0 20px 0;
	padding: 0;
	font-weight: bold
}

h3 i {
	margin: 1;
}

h4 {
	font-weight: bold;
	margin-bottom: 15px;
}
/* Tables */
.table tbody tr:hover td{
	background-color: transparent;
}

/* Content */

#content_wrapper{
	padding: 10px;
	margin: 0 auto;
}

#content{
	background: #fff;
	padding: 15px;
}

#preloader{
	display: none;
}


.datesContainer{
	background-color: #999;
}

.description {
	float:left;
}

.date_list_entry_content{
	width: 290px;
	float: left;
}


#footer {
}

.toolBox {
	margin-top: -19px;
	padding-bottom: 15px;
	border-bottom: 1px solid #333;
	margin-bottom: 10px;
	float:left;
}

/* form layout */

.separator{
	float:left;
	padding: 5px;
	color: #999;
}

.form_wrapper{
	position: relative;
	padding-left: 30px;
	margin-bottom: 20px;
}

.formBox {
	float: left;
	margin: 0 10px;
	vertical-align: top;
}

label{
	font-size: small;
	width: 150px;
	float: left;
}

input {
	margin: 0 0 10px 10px;
	font-size: small;
	height: 24px;
	float: left;
}

select	{
	margin-left: 11px;
}

checkbox{
	margin-left: 5px;
}

.formBox label  {
	line-height: 10px;
	margin: 5px;
}

.formBox input {
	margin: 0px 0px 10px 0px;
}

textarea {
	margin-left: 10px;
}

.btn-floated {
	float:left;
}

/* Login specific */

#login_wrapper{
	text-align: left;
	width: 700px;
	margin: 100px auto;
	padding: 20px;
	border: 1px #eee solid;
}

#login_banner{
	background: url("../img/logo_stayover.png") no-repeat;
	width: 260px;
	height: 150px;
	float:left;
	border-right: 1px solid #8CE474;
	margin-right: 30px;
}

/* Tables */

table{
	border: none;
}

td{
	padding: 3px 5px 5px 5px;
	border: none;
	vertical-align: top;
}

th{
	border: 1px solid #999;
	padding: 4px;
}

.loaderText {
	margin: 15px;
	font-size: 9px;
	vertical-align: top;
	float: right;
}
.highlight{
	background: #3f3;
}

.kidButtons {
	margin-top: -8px;
}

/* Buttons */

div .btn_add {
	background: url("../img/buttons/add.png") no-repeat;
	width: 16px;
	height: 16px;
	margin: 0 3px 0 3px;
	border: 0;
	float: left;
}

div .btn_edit {
	background: url("../img/buttons/edit.png") no-repeat;
	width: 16px;
	height: 16px;
	margin: 0 3px 0 3px;
	border: 0;
	float: left;
}

div .btn_delete {
	background: url("../img/buttons/delete.png") no-repeat;
	width: 16px;
	height: 16px;
	margin: 0 3px 0 3px;
	border: 0;
	float: left;
}

div .btn_find {
	background: url("../img/buttons/find.png") no-repeat;
	width: 16px;
	height: 16px;
	margin: 0 3px 0 3px;
	border: 0;
	float: left;
}