@CHARSET "UTF-8";

/* General */

body{
	font-family: Ubuntu, sans-serif;
	color: #888;
	font-size: 0.8em;
}

h1{
	color: #8CE474;
	font-size: 18pt;
	margin: 0 0 20px 0;
	padding: 0;
}

h2{
	color: #8CE474;
	font-size: 14pt;
	margin: 4px 0 10px 0;
	padding: 0;
}

p {
	
}

#top_header{
	
}

#banner_logo{
	margin-left: 40px;
}

/* Navigation */

#navigation{
	width: 100%;
	background: #D7D7D7;
	height: 30px;
}

#navigation ul{
	margin-left: 10px;
	list-style-type: none;
}

#navigation li{
	float: left;
	font-size: 10pt;
	padding: 9px 10px;
}

#navigation a {
	text-decoration: none;
	color: #000;
}

#navigation li.active{
	border-top: 5px solid #8CE474;
	padding: 4px 10px;
    background: url("../img/nav_active_arrow.gif") no-repeat center bottom; 
    height: 17px;
}

/* Content */

#content_wrapper{
	padding: 10px;
}

#content{
	background: #fff;
	padding: 15px;
}

/* Message Area */

#msg_area {
	border: 1px solid #eee;
	padding: 5px 15px;
	background: #eee;
	margin-bottom: 5px;
}

#footer {
	position: fixed;
	width: 100%; 
	left: 0;
	bottom: 0;
	background:url(images/bg-footer.gif) repeat-x left bottom;
}

/* form layout */

.form_wrapper{
	position: relative;
	padding-left: 30px;
	margin-bottom: 20px;
}

label{
	font-size: small;
	width: 150px;
	float: left;
}

input{
	margin: 0 0 10px 10px;
	font-size: small;

}

/* Login specific */

#login_wrapper{
	text-align: left;
	width: 700px;
	margin: 100px auto;
	padding: 20px;
	border: 1px #eee solid;
}

#login_banner{
	background: url("../img/logo_stayover.png") no-repeat;
	width: 260px;
	height: 150px;
	float:left;
	border-right: 1px solid #8CE474;
	margin-right: 30px;
}

/* Tables */

table{
	border: 1px solid #999;
}

td{
	padding: 3px 5px 5px 5px;
	border: 1px solid #999;
}

th{
	border: 1px solid #999;
	padding: 4px;
}

.highlight{
	background: #3f3;
}

/* Buttons */

div .btn_add {
	background: url("../img/buttons/add.png") no-repeat;
	width: 16px;
	height: 16px;
	margin: 0 3px 0 3px;
	border: 0;
	float: left;
}

div .btn_edit {
	background: url("../img/buttons/edit.png") no-repeat;
	width: 16px;
	height: 16px;
	margin: 0 3px 0 3px;
	border: 0;
	float: left;
}

div .btn_delete {
	background: url("../img/buttons/delete.png") no-repeat;
	width: 16px;
	height: 16px;
	margin: 0 3px 0 3px;
	border: 0;
	float: left;
}

div .btn_find {
	background: url("../img/buttons/find.png") no-repeat;
	width: 16px;
	height: 16px;
	margin: 0 3px 0 3px;
	border: 0;
	float: left;
}