@CHARSET "UTF-8";

/* General */
body {
	font-family: Ubuntu, sans-serif;
	color: #555555;
	font-size: 10pt;
	/* background: #F6F6EC; */
}

h2 { /*	font-family: 'Clicker Script', cursive; */
	font-family: 'Ubuntu';
	color: #666;
}

h4 {
	margin: 2px 0;
}

.functionalArea h2 {
	margin: 0;
	height: 40px;
	padding: 10px;
	font-size: 16px;
	color: #fff;
	text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.2);
}

.modal-header h2 {
	font-size: 16px;
	text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.2);
	color: #fff;
	margin: 0;
	padding: 0;
}

.functionalAreaHeader h2 { /* font-family: 'Satisfy', cursive; */
	/**/
	padding-left: 10px;
}

.functionalAreaHeader i {
	vertical-align: middle;
}

input[type="text"],input[type="password"],.input-append input[type="password"]
	{
	height: 20px;
	font-size: 12px;
}

/* Begin Popup Stuff */
.modal-header {
	background: #eee url("../img/gradient_light_grey.gif") repeat-x bottom;
	border: #eee 1px solid;
	border-top-right-radius: 6px;
	border-top-left-radius: 6px;
}

.modal-body {
	max-height: 500px;
}

.soPopupContent {
	text-align: left;
}

/* End Popup Stuff */
#logo {
	background: url("../img/logo_stayOver.png") no-repeat top left;
	height: 80px;
}

/* Begin Preloader */
.preloader {
	display: none;
	color: #888;
}

.preloader-large {
	width: 100%;
	background: url("../img/preloader_28x28.gif") no-repeat bottom center;
	height: 50px;
}

.preloader-small {
	width: 15px;
	background: url("../img/preloader_14x14.gif") no-repeat bottom center;
	height: 15px;
	margin: 4px -40px;
}
/* End Preloader */
.greenBg {
	background: url("../img/gruener_bg.png");
}

/* Begin Areas */
.functionalAreaContent { /*background-color: #f9f9f9;*/
	border: solid 1px #cdcdce;
	border-top: 0;
	margin-bottom: 10px;
	background: #F6F6EC url("../img/fa-bg.png") no-repeat top center;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	padding: 10px;
	margin-bottom: 10px;
	/*border-bottom: solid 2px #333;*/
}

.functionalAreaContent table {
	
}

.infoArea {
	background: #F6F6EC url("../img/info.png") no-repeat top 10px left 10px;
	padding: 5px 5px 0px 40px;
	margin-bottom: 5px;
	min-height: 40px;
}

.infoArea hr {
	margin: 10px 0;
}

.infoArea p { /*display: none;*/
	
}

/* Date lists */
.dateListEntry {
	border: 1px solid #cdcdce;
	margin: 0 0 2px 0;
	padding: 15px 10px 10px 10px;
	overflow: auto;
}

.helperAssigned .dateListEntry {
	background: #fff url("../img/gelber_bg_sm.gif") repeat-x top;
}

.helperAssigned h2 {
	background: url("../img/gelber_bg.gif");
}

.helperOpen .dateListEntry {
	background: #fff url("../img/blauer_bg_sm.gif") repeat-x top;
}

.helperOpen h2 {
	background: url("../img/blauer_bg.png");
}

.parentDates h2 {
	background: url("../img/roter_bg.png");
}

.userData h2 {
	background: url("../img/grau_h2_bg.gif");
}

.kidsData h2 {
	background: url("../img/grau_h2_bg.gif");
}

.dateData {
	float: left;
	margin-right: 10px;
	display: block;
	max-width: 350px;
}

.dateEntryAttribute {
	width: 90px;
	font-weight: bold;
	float: left;
}

.dateButtons {
	padding-left: 10px;
	border-left: 1px dotted #999;
	float: right;
}

.dateDateInput {
	width: 75px;
}

/* End Date lists */
/* Kid Lists */
.kidListEntry {
	width: 380px;
	border: 1px solid #cdcdce;
	margin: 0 0 2px 0;
	padding: 15px 10px 10px 30px;
	overflow: auto;
	background: #fff;
}

.kidListEntry h4 {
	margin-bottom: 10px;
}

.kidListEntry hr {
	margin: 5px 0;
	color: #333333;	
}

.kidHelpers {
	overflow: auto;
	background-color: #cdcdce;
}

.kidListEntry hr {
	clear: both;
}

.kidEntryBoy {
	background: #fff url("../img/blau_f_jungs.gif") repeat-y left;
}

.kidButtons {
	padding-left: 10px;
	border-left: 1px dotted #999;
	float: right;
	padding-bottom: 10px;
}
/* End Kid Lists */

/* End Areas */

/* Login specific */
#login_wrapper {
	text-align: left;
	width: 700px;
	margin: 100px auto;
	padding: 20px;
}

#login_banner {
	background: url("../img/logo_stayOver.png") no-repeat top right;
	width: 260px;
	height: 150px;
	float: left;
	margin-right: 30px;
}

/* Tables */
.loaderText {
	margin: 15px;
	font-size: 9px;
	vertical-align: top;
	float: right;
}

.highlight {
	background: #f1f1f1;
}

.kidButtons {
	vertical-align: middle;
	padding-top: 7px;
}

.plainwhite {
	color: #fff;
	text-decoration: none;
	cursor: hand;
	cursor: pointer;
}