@CHARSET "UTF-8";

/* General */
body {
	font-family: Ubuntu, sans-serif;
	color: #555;
	font-size: 10pt;
	background: #F6F6EC;
}

h2{
/*	font-family: 'Clicker Script', cursive; */
	font-family: 'Ubuntu';
	color: #F6634E;
}

.headerBg h2 {
	/* font-family: 'Satisfy', cursive; */
	color: #fff;
	/*text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.2);*/
	padding-left: 10px;
}

input[type="text"], input[type="password"], .input-append input[type="password"]{
	height: 20px;
	font-size: 12px;
}

.modal-header {
	background-color: #eee;
}

.soPopupContent {
	text-align: left;
}

.container	{
	/* background-color: #fff; */
}

#feedbackArea { /*padding-top: 50px;*/
	
}

#logo {
	background: url("../img/logo_2.png") no-repeat top left;
	height: 80px;
}

.preloader {
	display: none;
	color: #888;
}

.preloader-large {
	width: 100%;
	background: url("../img/preloader_28x28.gif") no-repeat bottom center;
	height: 50px;
}

.preloader-small {
	width: 15px;
	background: url("../img/preloader_14x14.gif") no-repeat bottom center;
	height: 15px;
	margin: 4px -40px;
}

.headerBg {
	background: url("../img/heading_bg_helper_next_date.gif");	
}

.functionalArea { /*background-color: #f9f9f9;*/
	padding: 20px 0 10px 0;
	background: url("../img/fa-bg.png") no-repeat top center;
	/*border-bottom: solid 2px #333;*/
}

/* Login specific */
#login_wrapper {
	text-align: left;
	width: 700px;
	margin: 100px auto;
	padding: 20px;
}

#login_banner {
	background: url("../img/logo_2.png") no-repeat top right;
	width: 260px;
	height: 150px;
	float: left;
	margin-right: 30px;
}

/* Tables */
.loaderText {
	margin: 15px;
	font-size: 9px;
	vertical-align: top;
	float: right;
}

.highlight {
	background: #f1f1f1;
}

.kidButtons {
	vertical-align: middle;
	padding-top: 7px;
}

.plainwhite {
	color: #fff;
	text-decoration: none;
	cursor: hand;
	cursor: pointer;
}